li {
  list-style: none;
}
#form_wrap{
  transition: 0.3s;
  height: 100px;
  overflow: hidden;
}


.toggle_open{
  height:500px!important;
}

.btn_form_txt_wrap{
  pisition:relative;
  width: 100%;
}
#btn_form_wrap{

}
.yajirusi_under::after {
  position: absolute;
  bottom: 10px;
  
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; /* 三角形の色を指定 */
}

#form_wrap.toggle_open form {
  display: block;
}

#form_wrap form {
  display: none;
}