body{
  font-size: 20px;
}
.title{
  font-size: 32px;
}
li {
  list-style: none;
}
#form_wrap{
  transition: 0.3s;
  height: 100px;
  overflow: hidden;
}
.txt_center{
  text-align: center;
}


.container{
  background: url("../images/bg1.png");
  background-size: cover;
  padding: 0 10%;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
}
.content{
  padding: 0 10%;
}

.toggle_open{
  height:500px!important;
}

/* ルーレットボタン */
.btn_spinRoulette{
  background: #6e04b6;
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  border-radius: 29px;
  border: none;
  box-shadow: 5px 3px 1px #ccc;
  width: 90%;
  margin: 0 5%;
}


li{
  font-size: 20px;
}

.btn_form_txt_wrap{
  position: relative;
  width: 100%;
}
#btn_form_wrap{

}
.yajirusi_under::after {
  position: absolute;
  bottom: 10px;
  
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; /* 三角形の色を指定 */
}

#form_wrap.toggle_open form {
  display: block;
}

#form_wrap form {
  display: none;
}

.list input{
  font-size: 24px;
}
.list{
  padding: 5px 0px;
  width: 200px;
}
.list button{
  font-size: 24px;
  background: #fff;
  min-width: 50px;
  border: 1px solid #333;
  color: #333;
  margin-right: 5px;
}